h1 {
  background: azure;
  box-shadow: -10px 0px 0px azure, 10px 0px 0px azure;
  color: #fd3516;
}

h1:hover {
  position: relative;
  left: 10px;
  line-height: 1.6em;
  background: #fd3516;
  box-shadow: -10px 0px 0px #fd3516, 10px 0px 0px #fd3516;
  transition: background-color 100ms linear, color 100ms linear,
    box-shadow 100ms linear;
  color: azure;
}
