/* h1 {
  background: white;
  box-shadow: -10px 0px 0px white, 10px 0px 0px white;
  color: #fd3516;
}

h1:hover {
  position: relative;
  left: 10px;
  line-height: 1.6em;
  background: #fd3516;
  box-shadow: -10px 0px 0px #fd3516, 10px 0px 0px #fd3516;
  transition: background-color 100ms linear, color 100ms linear,
    box-shadow 100ms linear;
  color: white;
} */
h1 {
  color: black;
  position: relative;
}

/* h1:hover {
  background-color: white;
  box-shadow: -10px 0px 0px white, 10px 0px 0px white;
  transition: background-color 100ms linear, color 100ms linear,
    box-shadow 100ms linear;
} */
