@import url("https://fonts.googleapis.com/css?family=Exo&display=swap");
h3 {
  line-height: 1em;
  background: white;
}
a {
  color: black;
}
p {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.biotext {
  background-color: blue;
  margin-top: 3px;
  padding: 0 10px 0 10px;
  color: white;
  font-weight: bold;
  font-family: "Exo", sans-serif;
  box-shadow: 0 6px 6px -6px black;
}
