@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap");

h1 {
  font-family: "Shadows Into Light", cursive;
  color: white;
}
h3 {
  border-bottom: 4px solid;
  border-radius: 10%;
  border-color: #fd3516;
}
/* p {
  padding-left: 2rem;
} */
