@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo&display=swap");

.mysitetitle {
  font-family: "Exo", sans-serif;
  padding-bottom: solid red 20px;
}
.mysitetitle:hover {
  color: blue;
  /* color: linear-gradient(to right, blue, red, blue); */
}
h2 {
  font-family: "Exo", sans-serif;
}

h3 {
  font-family: "Exo", sans-serif;
  /* border-bottom: 4px solid;
  border-radius: 0%;
  border-color: #fd3516; */
}
small {
  font-family: "Exo", sans-serif;
  color: blue;
  font-weight: bold;
  font-size: 0.9em;
  /* padding: 3px;
  border: solid 2px; */
}
a:hover {
  color: blue;
}
/* p {
  padding-left: 2rem;
} */
.mysitelogo {
  width: 100px;
  float: left;
  margin-right: 50px;
  margin-bottom: 0;
}
